body, html, *, div {
    margin: 0;
    padding: 0;
}

.fullheight {
    height: 100vh;
}

.halfwidth {
    width: 50vw;
    margin: auto;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.box {
    display: inline-block;
    height: 20vh;
    width: 32%;
    text-align: center;
    background-color: green;
}

@media(max-width: 600px) {
    .box {
        display: block;
        width: 100%;
    }
    #splash {
        display: none;
    }
}
